.app {
  text-align: center;
}

.red {
  color: red;
}

.bold{
  font-weight: bolder;
}

.app button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.app button:hover {
    background-color: lightgreen;
    color: black;
}

.app button.red {
  background-color: red;
}

.app button.red:hover {
  background-color: salmon;
}
